* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform: 0.3s;
  transition: ease-in-out;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.intro-box {
  max-width: 100%;
  background: url(./components/images/blur-hospital.png);
  background-color:  rgb(211, 211, 211, 30%) ;
  background-repeat: no-repeat;
  background-size: cover;
}
